{% extends "base.html"%}
<!-- ################################################################ -->

{% block stylesheet_links%}
	<!-- Custom fonts for this template-->
	<link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="../../../static/css/sb-admin-2.min.css" rel="stylesheet">
{% endblock%}
{% block favicon%}{% endblock%}

{% block title %}Forbidden{% endblock %}
{% block script_links%}
	<!-- Bootstrap core JavaScript-->
	<script src="../../../static/vendor/jquery/jquery.min.js"></script>
	<script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../../../static/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="../../../static/vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="../../../static/js/demo/chart-area-demo.js"></script>
	<script src="../../../static/js/demo/chart-pie-demo.js"></script>
{% endblock%}
{% block undraw_profile_1%}../../../static/img/undraw_profile_1.svg{% endblock%}
{% block undraw_profile%}../../../static/img/undraw_profile.svg{% endblock%}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> 403 Error </h1>
            <h3> You do not have sufficient permissions to access this page. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('dashboard.list_flights') }}" class="btn btn-default btn-lg">
                <i class="fa fa-home"></i>
                Home
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}